<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/css/login_styl.css">
<script>
    function AadharValidate() {
        var aadhar = document.getElementById("txtAadhar").value;
        var adharcardTwelveDigit = /^\d{12}$/;
        var adharSixteenDigit = /^\d{16}$/;
        if (aadhar != '') {
            if (aadhar.match(adharcardTwelveDigit)) {
                return true;
            }
            else if (aadhar.match(adharSixteenDigit)) {
                return true;
            }
            else {
                alert("Enter a valid Aadhar Number");
                return false;
            }
        }
    }
  </script>

</head>
<body>

<div class="header1"><h1>AICTE Data Verification Portal</h1>
</br>
<div class="myform">
<div class="header"><h1><b>Login</b></h1>
</div>
<form action="/api/users/" method="post" id="add_user">
<input style type="text" id="txtAadhar" onblur="AadharValidate();" name="aadhar" value="" placeholder="Aadhar card Number..."  required></br></br>
</br></br>
</br></br>
<center><input type="submit" value="Send OTP"> </b> </center>      
</form>
</div>
</body>
</html>

