<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/login_styl.css">

    </link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>

    <div class="header1"><h1>AICTE Data Verification Portal</h1>
    </br>
    <div class="myform">
    <div class="header"><h1><b>Login</b></h1>
    </div>
    <form action="/api/users/verify" method="post" >
    <input style type="text" id="txtAadhar"  name="otp" value="" placeholder="Enter OTP"  required></br></br>
    </br></br>
    </br></br>
    <center><input type="submit" value="Verify Me"> </b> </center> 


   <!--  <form action="/api/users/verify" method="post" id="add_user">
        <% if(isError == true){ %>
            <h1>OTP invalid</h1>
        <%}%>
        <div class="new_user">
            <div class="form-group">
                <label for="OTP" class="text-light"><h3></h3></label>
                <input type="text" name="OTP" value="" placeholder="Enter OTP" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn text-dark update">Submit</button>
            </div>
        </div>
    </form> -->
    
</body>
</html>